@font-face {
    font-family: 'Cairo';
    src: url(../fonts/Cairo/Cairo-Regular.ttf);
}

.clearfix {clear: both}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Cairo';
    color: rgba(39, 50, 69, 0.8);
    background-color: #381E43;
    /* animation: changesitecolor 20s linear infinite; */
}
.container-fluid {
    padding: 0 !important;
}
.form-control:focus {
    border-color: rgba(39, 50, 69, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(39, 50, 69, 0.8);
}
.title{
    font-size: 2em;
    padding: 1em;
}
.row{
    margin-bottom: 4em;
}


/* navbar */
.navbar{
    background-color: #161E2E;
    min-height:80px;
    margin-bottom : 0;
    height: 185px;
    border: none;
    line-height: 100px;
    border-radius: 0;

}
.dropdown-menu {
    top: 68%;
    min-width: 0px;
}
.solid-div{
    height: 0.2em;
    background-color: #A8319B;
}
.navbar-brand{
padding: 7px;
height: 78px;
}
.hashtag{
    width: 60%;
}
.navbar-brand img{
    width:100px;
}
.navbar-nav > li > a {
    padding-top: 29px;
    padding-bottom: 29px;
}
.navbar-form {
    margin: 0px;
    padding: 0;
    line-height: 105px
}

.navbar-default .navbar-nav > li > a {
    color: #A8319B;
    padding: 0 25px;
    line-height: 80px;
    font-weight: bold;
}

.navbar-collapse{
    padding-top: 1em;
}
.navbar-default .navbar-nav > .active > a{
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent; 
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
.dropdown{
    list-style: none;
}
.dropdown a{
   color: #A8319B; 
}
.dropdown-menu li:hover a{
    background-color: rgba(39, 50, 69, 0.8);
    color: rgba(250,250,250,0.8);
}
.navbar-left button{
    background-color: rgba(39, 50, 69, 0.8);
    color: rgba(250,250,250,0.8);
}

.cover p{
    font-size: 2em;
    color:#A8319B;
    padding: 1em 0;
}
/* end navbar */

/* login */
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.settings-inputs{
    text-align:right;
}
.settings-inputs input{
    width:220px !important;
}
.login-title
{
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.form-signin button{
    background-color: rgba(39, 50, 69, 0.8);
    color: rgba(250,250,250,0.8);
    transition: 0.5s linear all;
}
.form-signin button:hover{
    background-color: rgb(207,175,109,0.8);
    color: rgba(250,250,250,0.8);
}
/* end login */

/* profile */

.card {
    padding-top: 20px;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    background: linear-gradient(to right,#273245,rgba(39, 50, 69, 0.5));
    background-size: cover;
    height: 200px;
}

.card.hovercard .avatar {
    position: relative;
    top: -75px;
    margin-bottom: -75px;
}

.card.hovercard .avatar img {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
/* end profile */


/* control panel */
.box-part{
    background: #ddd;
    border-radius: 10px;
    padding: 60px 10px;
    margin: 0 15px 15px 15px;
    transition: 0.5s all linear;
}
.box-part a{
    text-decoration: none;
    color: rgba(39, 50, 69, 0.8);
}
.box-part:hover{
    background-color: rgba(39, 50, 69, 0.8);
}
.box-part a:hover{
    color: rgba(250,250,250,0.8);
}
.cusbtn{
    width: 141px;
    margin-bottom: 0.2em;
    color: rgba(250,250,250,0.8);
    background-color: rgba(39, 50, 69, 0.8);
}
.cusbtn:hover,
.show-btn:hover{
    background-color: rgb(207,175,109,0.8);
}
/* end control panel */

/* ads */
.show-btn{
  background-color: rgba(39, 50, 69, 0.8);
  color: rgba(250,250,250,0.8);
  margin-bottom: 2em;  
  transition: 0.3s all linear;
}

.media-object{
    width: 150px;
    height: 150px;}

.fav-btn{
background-color: transparent;
border: transparent;
}

.fav-btn-pink{
    color: #d9534f;
}

/* end ads */

/* message */
.msgpic{
    width: 100px;
    height: 100px;
}
/* end message */


/* footer */

footer {
    color: rgba(250,250,250,0.8);
    background-color: #161E2E;
 }
 footer .container{
    margin-top: 3em;
    margin-bottom: 3em; }
 .logo-part img{
     width:100px;
 }
 .logo-footer {
    margin-bottom: 40px;
 }

 footer p, a {
font-size: 15px;
}
footer h4 {
margin-bottom: 40px;
position: relative;
}
footer h4:after {
position: absolute;
content: "";
background: rgba(250,250,250,0.5);
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
.btn-footer {
color: rgba(250,250,250,0.7);   
text-decoration: none;
border: 1px solid;
border-radius: 43px;
font-size: 13px;
padding: 7px 30px;
line-height: 47px;
 }
.btn-footer:hover {
text-decoration: none;         
 }
.form-footer input[type="text"] {
border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-right: 10px;
height: 2.5em;


}
::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.form-footer button{
border: none;
background:rgba(39, 50, 69, 0.8);
margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
height: 2.5em;

}
.social{
    margin-bottom:1em;
}
.social .fa {
color: rgba(250,250,250,0.8);
font-size: 22px;
padding: 10px 15px;
background: rgba(39, 50, 69, 0.8);
}
 footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: rgba(250,250,250,0.6);
text-decoration:none;
}
a:hover {
text-decoration: none;


}
.logo-part {
border-right: 1px solid rgba(250,250,250,0.5);
height: 100%;
}

.feet{
    background-color: #6B3399;
    height: 3em;
    text-align: center;
    line-height: 3em;
}
.feet h5{
    line-height: 3em;
}
/* end footer */


@keyframes changesitecolor{
    0% {
        filter: hue-rotate(360deg);
    }
    
    50% {
        filter: hue-rotate(180deg);
    }
    80% {
        filter: hue-rotate(90deg);
    }
    100% {
        filter: hue-rotate(0deg);
    }
}


@media screen and (max-width:1024px){
    .cover{
        /* background: url('../imgs/cover4.png') no-repeat;
        background-size: cover;
        height: 500px; */
    
    }
    }
@media screen and (max-width:992px){
    .hashtag {
        width: 100%;
    }
    .navbar-default .navbar-nav > li > a {
        padding: 0 8px;
        font-size: 0.8em;
    }
    .cover p {
        font-size: 1.5em;
        text-align: center;
    }
    }
@media screen and (max-width:700px){
.navbar{
    min-height : 50px;
    height: 220px;
}
.navbar-toggle{
width: 90%
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: rgba(250,250,250,0.8);
}
.navbar-brand{
    height: 45px;
}
.navbar-collapse{
    background-color: #161E2E;
}
.navbar-nav > li > a {
    padding-top : 10px;
    padding-bottom : 10px;
}
.navbar-form {
    padding : 10px 60px;
}
.navbar-brand img{
    width: 65px;
}
.navbar-default .navbar-toggle {
    border-color: #A8319B;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #A8319B;
}
.navbar-left button {
    margin-left: 1em;
}
.navbar-default .navbar-form {
    border: none;
    display: flex;
}
footer{
    text-align: center;
}
footer h4:after{
    right: 160px;
    left: 20px;
    width: 90%;
}
.logo-part {
    border-right: none;
}
.hashtag {
    width: 100%;
}
.cover p {
    text-align: center;
}
.cover{
    /* background: url('../imgs/cover3.png') no-repeat;
    background-size: cover;
    height: 500px; */

}

}


